body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.superiorPart,
footer {
    background-color: #1F2937;
}

.heroTittle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.links,
.heroText {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.callToAction {
    background-color: #3882F6;
}

.informationTittle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quoteSection {
    background-color: #E5E7EB;
}
 .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
 }

