body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.superiorPart {
    padding: 0 200px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 125px 0;
}

.heroLeft {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.heroText {
    margin: 10px 0;
}

.heroButton {
    border-color: #3882F6;
    padding: 0 20px;
}

button {
    font-size: 20px;
    font-weight: 900px;
    border-style: solid;
    border-radius: 5px;
}

.heroPlaceHolder {
    background-color: rgb(113, 112, 112);
    width: 500px;
    height: 202px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superiorPart,
footer {
    background-color: #1F2937;
}

.heroTittle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.links,
.heroText {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.callToAction {
    background-color: #3882F6;
    color: #F9FAF8;
}

.informationSection {
    margin-bottom: 100px;
}

.informationTittle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.informationPlaceHolders {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.placeHolder {
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    height: 220px;
}

.informationTexts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text {
    color: #1F2937;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    width: 210px;
}

.quoteSection {
    background-color: #E5E7EB;
    padding: 100px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 840px;
 }

 .quoteAuthor {
    font-size: 23px;
    font-weight: 800;
    align-self: flex-end;
 }

